body {
    margin: 0;
    padding: 0;
}

#nav-bar {
    height: 50px;
    background-color: #D1F8EF;
    border: 2px solid #3674B5;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.nav-item {
    text-decoration: none;
    color: #3674B5;
    font-size: 20px;
    margin-right: 15px;
    padding: 5px 12px;
    border-radius: 8px;
    display: inline-block;
}

.nav-item:hover {
    background-color: #A1E3F9;
}
