body {
    margin: 0;
    padding: 0;
}

.nav-bar {
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    background-color: #A9B5DF;
}
.nav-item{
    text-decoration: none;
    margin:0 10px ;
    color: #2D336B;
    font-size: large;
    font-weight: bold;
}


.nav-item:hover{
    color: #FFF2F2;
}
